.text-small-R {
	font-size: 1.6rem;
	font-weight: $regular;
}

.text-normal-R {
	font-size: 2rem;
	font-weight: $regular;
}

.text-medium-R {
	font-size: 2.4rem;
	font-weight: $regular;
}

.text-medium-M {
	font-size: 2.4rem;
	font-weight: $medium;
}

.text-medium-SB {
	font-size: 2.4rem;
	font-weight: $semibold;
}

.text-large-M {
	font-size: 4rem;
	font-weight: $medium;
}
