.alerts-group {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: fixed;
	top: 5vh;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;

	& > div:not(:first-child) {
		margin-top: 2rem;
	}
}

.alert {
	display: grid;
	grid-template-columns: min-content max-content min-content;
	grid-gap: 0 2rem;
	justify-content: center;
	align-items: center;

	padding: 2.5rem;
	border-radius: $border-radius-large;

	&.error {
		color: $color-text-error;
		background-color: $color-surface-error;
	}

	&.success {
		color: $color-text-success;
		background-color: $color-surface-success;
	}

	&__btn-close {
		margin-left: 5rem;
		justify-self: end;

		cursor: pointer;
	}
}
