.create-post {
	@include responsive(phone) {
		margin-left: 2rem;
		margin-right: 2rem;
	}

	&__image-p-caption {
		display: grid;
		grid-template-columns: min-content 1fr;
		grid-gap: 0 3rem;

		margin-top: 1rem;

		@include responsive(phone) {
			grid-template-columns: 1fr;
		}
	}

	&__image {
		width: 53rem;
		height: 53rem;

		@include responsive(phone) {
			width: 100%;
			height: auto;
		}

		background-color: $color-surface-secondary;
		border-radius: $border-radius-medium;

		display: flex;
		align-items: center;
		overflow: hidden;

		img {
			width: 100%;
		}
	}

	&__user-p-caption {
		display: flex;
		flex-direction: column;

		flex-grow: 1;

		color: $color-text-primary;
		margin-top: 2rem;

		.user-details {
			display: flex;
			align-items: center;

			margin-bottom: 2rem;

			.username {
				margin-left: 2.5rem;
			}
		}
	}

	&__caption-text {
		flex-grow: 1;

		padding: 1.5rem 2rem;
		color: $color-text-primary;

		background-color: $color-surface-primary;
		border-style: none;

		resize: none;

		&:focus {
			background-color: $color-surface-secondary;
			border-radius: $border-radius-normal;
			outline-style: none;
		}
	}

	&__btn-publish {
		margin-top: 2rem;
		align-self: end;
	}
}

.image-upload {
	@include responsive(phone) {
		margin-left: 2rem;
		margin-right: 2rem;
	}

	&__buttons {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		margin-top: 1rem;
		height: 53rem;
	}

	&__btn-next {
		margin-top: 5rem;
		padding: 2rem;
	}
}
