.individual-post {
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-template-rows: min-content 1fr max-content;
	grid-gap: 0 1rem;

	position: relative;
	z-index: 5;

	color: $color-text-primary;

	&__image {
		grid-row: 1/-1;

		width: 65rem;
		height: 65rem;

		background-color: $color-surface-secondary;
		border-radius: $border-radius-medium;

		display: flex;
		align-items: center;
		overflow: hidden;

		img {
			width: 100%;
		}
	}

	&__header-p-caption {
		position: relative;
		margin-bottom: 5rem;
	}

	&__caption-p-elapsed {
		position: relative;

		width: 100%;
		padding: 2rem 4.5rem 4rem 4rem;

		border-radius: $border-radius-medium;
	}

	.elapsed {
		justify-self: start;
		padding: 0.8rem 1rem;

		color: $color-text-secondary;

		background-color: $color-surface-primary;
		border-radius: $border-radius-large;
	}

	&__comments-list {
		display: flex;
		flex-direction: column;
		height: 30rem;

		&::-webkit-scrollbar {
			display: none;
		}

		overflow: auto;
	}

	&__individual-comment {
		display: grid;
		grid-template-columns: min-content max-content 1fr min-content;
		align-items: center;
		grid-gap: 1rem 2.5rem;

		margin: 0 2.5rem;

		&:not(:first-child) {
			margin-top: 2rem;
		}

		.comment-text {
			grid-column: 2/-1;
		}

		.btn {
			&-like {
				justify-self: start;
				grid-row: 3 / span 1;
				grid-column: 2 / span 1;
			}

			&-reply {
				justify-self: center;
				grid-row: 3 / span 1;
				grid-column: 2 / span 1;

				color: $color-text-secondary;
			}

			&-remove {
				display: none;
				border-radius: 50%;
				grid-row: 1/2;
				grid-column: 4/-1;

				cursor: pointer;

				&:hover {
					background-color: $color-surface-secondary;
				}
			}
		}

		&:hover > .btn-remove {
			display: inline-block;
		}
	}

	&__post-actions {
		display: grid;
		grid-template-columns: repeat(2, min-content) 1fr;
		grid-gap: 0 2.5rem;

		align-self: end;
		padding: 2rem;

		border-radius: $border-radius-medium;

		span {
			cursor: pointer;
		}

		.btn-save {
			justify-self: right;
		}
	}

	&__post-details {
		display: grid;
		grid-template-columns: 66rem 1fr;
		align-items: center;

		margin-top: -7rem;
		padding: 8rem 1rem 1rem 1rem;
		max-width: 130rem;

		background-color: $color-surface-tertiary;
		border-radius: $border-radius-large;

		.avatars-p-meta {
			display: flex;
			align-items: center;
			margin-left: 1.5rem;
		}

		.liked-avatars {
			display: flex;

			& > div,
			img {
				border: 0.5rem solid $color-surface-tertiary;
			}

			img {
				&:not(:first-child) {
					margin-left: -1.5rem;
				}
			}
		}

		.meta {
			margin-left: 2.5rem;
		}

		.likes-info {
			color: $color-text-primary;
			cursor: pointer;
		}

		.post-date {
			margin-top: 1rem;
			color: $color-text-secondary;
			text-transform: uppercase;
		}
	}

	&__liked-users {
		width: 65rem;

		color: $color-text-primary;

		.users-list {
			display: grid;
			grid-gap: 3rem 0;

			padding: 3rem;

			li a {
				display: grid;
				grid-template-columns: min-content 1fr;
				grid-gap: 0 2.5rem;
				align-items: center;
			}
		}
	}
}
