.loader {
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 3000;

	width: 100vw;
	height: 0vh;

	background-color: $color-accent-primary;

	transition: all 0.4s;

	div {
		opacity: 0;
	}

	&.visible {
		height: 100vh;

		div {
			opacity: 1;
		}
	}
}
