.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 1.5rem 20%;

	@include responsive(phone) {
		& > :not(:first-child) {
			display: none;
		}

		justify-content: center;
	}

	color: $color-text-primary;
	background-color: $color-surface-secondary;

	&__logo {
		font-family: 'Libre Barcode 39 Text', cursive;
		font-size: 6.4rem;
	}

	&__actions {
		display: grid;
		grid-template-columns: repeat(4, max-content);
		align-items: center;
		grid-gap: 0 2rem;

		@include responsive(phone) {
			display: flex;
			justify-content: space-between;
			flex: 1 1 auto;
		}

		.user-search {
			display: none;

			& > :nth-child(2) {
				position: fixed;
				top: 0;
				left: 0;

				width: 100%;
				padding: 2rem;
				height: 92vh;

				background-color: $color-surface-primary;
			}

			@include responsive(phone) {
				display: inline-block;
			}
		}

		.profile-actions {
			position: relative;
			cursor: pointer;

			ul {
				position: absolute;
				top: 125%;
				left: 50%;
				transform: translateX(-50%);
				z-index: 10000;

				@include responsive(phone) {
					top: -225%;
					left: -50%;
					// transform: translateX(-50%);
				}

				padding: 2rem 3rem;

				text-align: center;

				background-color: $color-surface-tertiary;
				border-radius: $border-radius-large;

				li:not(:first-child) {
					margin-top: 1.5rem;
				}
			}
		}
	}

	&__user-search {
		position: relative;
		flex-basis: 30%;

		input[type='text']:not(:focus) ~ ul:not(:hover) {
			display: none;
		}

		.users-list {
			display: grid;
			grid-gap: 3rem 0;

			position: absolute;
			top: 120%;
			z-index: 2500;
			padding: 3rem;
			width: 100%;

			background-color: $color-surface-tertiary;
			border-radius: $border-radius-normal;
		}

		li a {
			display: grid;
			grid-template-columns: min-content 1fr;

			grid-gap: 0 2.5rem;
			align-items: center;
		}

		.avatar {
			grid-row: 1/3;
		}

		.btn-clear-search {
			position: absolute;
			top: 1.5rem;
			right: 1rem;

			cursor: pointer;

			&:hover {
				font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 100, 'opsz' 20;
			}
		}
	}
}

.footer {
	display: none;

	@include responsive(phone) {
		display: block;
		position: fixed;
		width: 100%;

		bottom: 0;
		z-index: 2000;

		padding: 1.5rem 3%;
	}
}
