.user-profile {
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-gap: 0 7.5rem;
	align-items: center;

	@include responsive(phone) {
		grid-template-columns: 1fr;
		grid-gap: 4rem;
	}

	padding: 4rem;

	color: $color-text-primary;

	&__avatar {
		width: 25rem;
		height: 25rem;

		background-color: #f7d047;
		border-radius: 50%;

		justify-self: center;
	}

	&__details {
		display: grid;
		grid-template-columns: min-content 1fr;
		grid-gap: 0 3rem;
		justify-items: start;
		align-items: center;
	}

	.follows {
		display: flex;
		justify-content: space-between;

		grid-column: 1/-1;
		justify-self: stretch;
		margin: 4rem 0 4rem 0;
		padding: 3.5rem;

		background-color: $color-surface-secondary;
		border-radius: $border-radius-large;
	}

	.name,
	.bio {
		grid-column: 1/-1;
	}

	.bio {
		margin-top: 1.5rem;
	}

	&__btn-edit {
		padding: 1.2rem;
	}

	&__follows {
		width: 65rem;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		color: $color-text-primary;

		.follows-list {
			display: grid;
			grid-gap: 3rem 0;

			padding: 3rem;

			li a {
				display: grid;
				grid-template-columns: min-content 1fr;
				grid-gap: 0 2.5rem;
				align-items: center;
			}
		}
	}

	&__gallery-tabs {
		display: flex;
		justify-content: center;

		// align-self: center;
		margin: 4rem auto;

		background-color: $color-surface-primary;
		border-radius: $border-radius-large;

		& > div {
			display: grid;
			grid-template-columns: min-content 1fr;
			grid-gap: 0 1.6rem;
			align-items: center;

			padding: 1.6rem;

			color: $color-text-primary;
			background-color: $color-surface-quarternary;
			border-radius: $border-radius-normal;

			cursor: pointer;

			&:not(:first-child) {
				margin-left: 1rem;
			}
		}

		& > .active {
			color: $color-text-accent;
			background-color: $color-accent-primary;
		}
	}
}

.posts-gallery {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-gap: 2rem;

	.gallery-post {
		width: 100%;
		height: 31.3rem;

		@include responsive(phone) {
			height: auto;
		}

		background-color: $color-surface-secondary;
		border-radius: $border-radius-normal;
	}
}
